
body {
  
  background-image: url("b.im.jpg");
  width: 100%;
  height: auto;

  margin: 2%;
}
.welcome{
    background-color: blue;
    color: red;
     display: flex; 
    list-style: none;
    gap: 10%;
    text-justify:center;
    cursor: pointer;
.text-1{
  color: blue;
  cursor: pointer;
}
.big-text{
  color: aqua;
}
}
  #navbar{
    background-color: blck;
    border-radius: 5px;
   text-decoration: none;
    color: rgb(247, 28, 28);
    display: flex;
    gap: 40%;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    width: 50%;
    text-justify:center;
    white-space: nowrap;
    
margin: 2%;
  }
a:hover {
  background-color: yellow;
margin: 2%;
  }
  

.container img {
    border:red;
    float: left;
    margin-left: 50%;
    border-radius: 5%;
    cursor: pointer;
    

  }
  

  .b{
    text-justify: ceenter;
cursor: pointer;
color: red;
cursor: pointer;
  }
.lost{
  color: blue;
}
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: red;
    font-weight: bold;
    border: 3px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: cent;
    cursor: pointer;
  }
   .row{
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 5s infinite;
    animation-delay: 2s;
    color: blue;
  }
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }
  @media (max-width: 600px){}
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
        
    }
.g{
  color: red;
}
.text{
color: rgb(126, 27, 43);
}
.live{
  color: rgb(172, 143, 169);
}


    .big container{
        height: auto;
        width: auto;
        display: flex;
        flex: row;
        opacity: 0.7;
  border-radius: 50%;
    color: blue;
    padding-left: 50%;
    } 
    



    .containerTab {
      padding: 20px;
      color: red;
    }
    
    .row{
      content-visibility: 15px;
      display: table;
      clear: both;
      justify-content: space-around;
      display: flex;
      color: red;

    }
  
   

    .button{
background-color: blue;
color: brown;
cursor: pointer;
border: none;
border-radius: 15px;
padding: 12px 20px;
font-size: 60px;
cursor: pointer;
background-color: #282A35;
color: white;
position: relative;
padding-left: 20%;
}

.ribbon {
width: 90px;
font-size: 14px;
padding: 4px;
position: absolute;
right: -25px;
top: -12px;
text-align: center;
border-radius: 25px;
transform: rotate(20deg);
color: rgb(245, 6, 6);


}
.loader {
    border: 16px solid rgb(245, 107, 130);
    border-radius: 50%;
    border-top: 16px solid red;
    border-bottom: 16px solid blue;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
    
}
     
      
  